{% extends "users/base.html" %} {% block body %}

<h2 class="p-10 mt-10 font-bold text-xl">🥶 Change Password Form</h2>
<div class="p-5">
  <div class="error-container text-red-500 px-10">
    {% if form.errors %} {% for field in form %} {{field.errors}} {% endfor %}
    {% endif %}
  </div>
  <form
    method="post"
    class="bg-white shadow-md m-10 w-2/5 rounded-md px-8 pt-6 pb-8 mb-4"
  >
    {% csrf_token %}
    <div class="mb-2">
      <label for="" class="block text-gray-700 text-sm font-bold mb-2"
        >Old Password</label
      >
      <div
        class="shadow px-3 py-2 mr-10 text-gray-700 appearance-none border rounded"
      >
        {{form.old_password}}
      </div>
    </div>
    <div class="mb-2">
      <label for="" class="block text-gray-700 text-sm font-bold mb-2"
        >New Password</label
      >
      <div
        class="shadow px-3 py-2 mr-10 text-gray-700 appearance-none border rounded"
      >
        {{form.new_password1}}
      </div>
    </div>
    <div class="mb-2">
      <label for="" class="block text-gray-700 text-sm font-bold mb-2"
        >Confirm New Password</label
      >
      <div
        class="shadow px-3 py-2 mr-10 text-gray-700 appearance-none border rounded"
      >
        {{form.new_password2}}
      </div>
    </div>

    <button type="submit" class="text-white px-5 py-2 mt-3 bg-green-600">
      change Password
    </button>
  </form>
</div>

{% endblock body %}
