{% extends "myapp/base.html" %}
  <body>
    {% block body %}
    <div class="product-container flex ">
    {% for product in products %}
  <div class="product shadow-lg w-1/4 rounded-lg m-10">
    <div class="product-image">
        <img src="https://totalcomp.com/images/no-image.jpeg" alt="">
    </div>
    <div class="p-5 ">
<div class="font-bold">
  {{product.name}}

</div>
<div>
    {{product.description}}
</div>
<div class='text-yellow-700 tracking-widest text-[10px] uppercase font-bold'>
    Created BY:{{product.seller}}
</div>
<div class="text-green-500 font-bold">
    Ksh.{{product.price}}
</div>
<div class='mt-5'>
    <a href="{% url 'details' product.id %}" class='bg-green-500 text-white px-4 py-2 '>View details</a>
</div>
    </div>

  </div>
    {% endfor %}
    </div>
    {% endblock  %}
  </body>
</html>

